# ignore documentation build dir
docs/build/
docs/src/index.md
docs/src/datasets/description.md

# manifest files
Manifest.toml

# instances
instances/sndlib/delay_corrected
docs/src/assets/img/base_instances
docs/instance
docs/sol.jld2

docs/src/assets/img/cg_dark.png
docs/src/assets/img/cg_light.png
docs/src/assets/img/sparsify_dark.png
docs/src/assets/img/sparsify_light.png

# datasets
instances/datasets
