# ignore documentation build dir
docs/build/
docs/src/index.md

# manifest files
Manifest.toml

# instances
instances/sndlib/delay_corrected
docs/src/assets/img/base_instances
docs/instance
docs/sol.jld2


